.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.feed {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 60%;
	margin: auto;
}

.twt-btn {
	width: 1rem;
}

.tweet-stats {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: auto;
}

.tweet-stats > span {
	display: flex;
}

.like:hover {
	color: #e0245e;
	fill: #e0245e;
	cursor: pointer;
}

.liked {
	color: #e0245e;
	fill: #e0245e;
}

.rt:hover {
	color: #17bf63;
	fill: #17bf63;
	cursor: pointer;
}

.compose-button {
	position: fixed;
	bottom: 5%;
	right: 5%;
	cursor: pointer;
}

.modal-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: white;
	padding: 1rem 1.5rem;
	position: fixed;
	left: 25%;
	width: 50%;
	top: 25%;
	border: 3px solid black;
}
